html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}


.all_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.first_block_with_menu {
    width: 1200px;
    height: 724px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
        url("menu_bg.png") center/cover no-repeat;          
}


.menu {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-left: 132px;
    padding-right: 3px;
}

.left_part_of_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:35px;
    width: fit-content;
    height: 17px;
}
.menu_btn{
    
    opacity: 1;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Roboto';
    font-weight: 500;
    font-style:normal;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0;
}

.right_part_of_menu {
    display: flex;
    width: 205px;
    height: 22px;
}
.number_phone {
    height: fit-content;
    margin: 0px;
    opacity: 1;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Roboto';
    font-weight: 500;
    font-style:normal;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0;
}

.request{
    display: flex;
    justify-content: space-between;
    height: 353px;
    margin-bottom: 193px;
    padding: 0px;
    
}

.box_call_back{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    height: 353px;
    margin-right: 53px;
    background-color:rgba(199, 201, 202, 0.8);
}

.input_forms_of_box_call_back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 274px;
    height: 179px;
    margin-bottom: 32px;
    
    
}

.input_forms_of_box_call_back input{
    width: 274px;
    height: 47px;
    border: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-style:normal;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0;
    padding-left: 17px;

    
    
}
.input_forms_of_box_call_back button{
    width: 274px;
    height: 47px;
    background-color: rgba(255, 225, 0, 1);
    border: none;
    cursor:pointer;
    font-family: 'Roboto';
    font-weight: bold;
    font-style:normal;
    font-size: 14px;
    letter-spacing: 0;

}
.text_of_box_call_back{
   width: 274px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   gap:15px;
}
.box_text_2,
.box_text_1 {
    margin:0;

}

.box_text_1{
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0px;
    margin-top: 31px;

}


.box_text_2{
   font-family: 'Roboto';
   font-weight: 400;
   font-style: normal;
   font-size: 13px; 
   line-height: 1;
   letter-spacing: 0px;
   text-align: justify;
   word-spacing: 1px;
   overflow: hidden; 
   margin-bottom: 21px;    
    
  
}

.name_company {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 130px;
    gap: 21px;       
}

.up_of_text_of_name_company,
.bottom_of_text_of_name_company {
    margin: 0;
}


.up_of_text_of_name_company{
    font-family: 'Roboto';
    font-weight: 600;
    font-style: normal;
    font-size: 75px;
    line-height: 1;
    letter-spacing: 0;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}
.bottom_of_text_of_name_company{
    font-family: 'Roboto';
    font-weight: 600;
    font-style: normal;
    font-size: 60px;;
    line-height: 1;
    letter-spacing: 0;
    color: rgba(255, 225, 0, 1);    
}

.margin_76px{
    height: 76px;
    width: 100%;
}

.second_block{
    display: flex;
    flex-direction: column;
    height: 802px;
    width: 1200px;
    
}
.up_of_second_block{
    width: 1200px;
    height: 706px;
    position: relative;

}
.image_1{
    position:absolute;
    width: 266px;
    height: 359px;
    top: 135px;
    left: 685px;
    z-index: 1;
    object-fit: cover;

}
.image_2{
    position:absolute;
    width: 174px;
    height: 209px;
    top: 205px;
    left: 971px;
    z-index: 2;
    object-fit: cover;
    
}
.image_3{
    position:absolute;
    width: 278px;
    height: 174px;
    top: 433px;
    left: 780px;
    z-index: 3;
    object-fit: cover;
}
.text1_of_second_block{
    position:absolute;
    width: 154px;
    height: 36px;
    top: 250px;
    left: 130px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 37px;
    line-height: 46.74px;
    letter-spacing: 0;
}
.text2_of_second_block{
    position:absolute;
    width: 435px;
    height: 84px;
    top: 333px;
    left: 130px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    line-height: 27.9px;
    letter-spacing: 0;  
}
.bottom_of_second_block{
   
    width: 1200px;
    height: 96px;
    position:relative
    
}
.left_triangel {
    position: absolute;
    top:0;
    left:0;
    display: inline-block;
	border-bottom: 96px solid rgba(54, 54, 54, 1);
	border-right: 625px solid transparent;
}

.right_triangel{
    position: absolute;
    top:0;
    right:0;
    display: inline-block;
    border-bottom: 96px solid rgba(54, 54, 54, 1);
	border-left: 625px solid transparent;
    margin-right: 0px;
}

.third_block {
   
    width: 1200px;
    height: 855px;
}   

.our_service {
    
    width: 1200px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our_service p{
    
    width: 227px;
    height: 47px;
    color: rgba(23, 23, 23, 1);
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 37px;
    line-height: 46.74px;
    letter-spacing: 0;
    text-align: center;
    
}

.service_ui{
    
    width: 1200px;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap:20px;



}
.box_service{
    
    width: 300px;
    height: 517px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.up_box_service{
   
    width: 300px;
    height: 419px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 30px;
    padding-top: 61px;
    


}
.zagolovok_box_service,
.info_box_service{
    margin: 0;
}
.zagolovok_box_service{
    
    width: 90px;
    height: 27px;
    margin-bottom: 25px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0;

    

}
.line{
    border-top:1px solid rgba(21, 21, 21, 1);
    width: 240px;
    height: 0px;
}
.info_box_service{
    
    width: 233px;
    height: 100px;
    margin-top: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24.8px;
    letter-spacing: 0;
    text-align: left;


}


.bottom_box_service{
    border:3px solid rgba(0, 0, 0, 1);
    background-color: rgba(255, 225, 0, 1);
    width: 178px;
    height: 45px;
    border-radius: 3px;
    border-width: 3px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;



}



    

