html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}


.all_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.first_block_with_menu {
    width: 1200px;
    height: 724px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
        url("menu_bg.png") center/cover no-repeat;          
}


.menu {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-left: 132px;
    padding-right: 3px;
}

.left_part_of_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:35px;
    width: fit-content;
    height: 17px;
}
.menu_btn{
    
    opacity: 1;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Roboto';
    font-weight: 500;
    font-style:normal;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0;
}

.right_part_of_menu {
    display: flex;
    width: 205px;
    height: 22px;
}
.number_phone {
    height: fit-content;
    margin: 0px;
    opacity: 1;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Roboto';
    font-weight: 500;
    font-style:normal;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0;
}

.request{
    display: flex;
    justify-content: space-between;
    height: 353px;
    margin-bottom: 193px;
    padding: 0px;
    
}

.box_call_back{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    height: 353px;
    margin-right: 53px;
    background-color:rgba(199, 201, 202, 0.8);
}

.input_forms_of_box_call_back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 274px;
    height: 179px;
    margin-bottom: 32px;
    
    
}

.input_forms_of_box_call_back input{
    width: 274px;
    height: 47px;
    border: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-style:normal;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0;
    padding-left: 17px;

    
    
}
.input_forms_of_box_call_back button{
    width: 274px;
    height: 47px;
    background-color: rgba(255, 225, 0, 1);
    border: none;
    cursor:pointer;
    font-family: 'Roboto';
    font-weight: bold;
    font-style:normal;
    font-size: 14px;
    letter-spacing: 0;

}
.text_of_box_call_back{
   width: 274px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   gap:15px;
}
.box_text_2,
.box_text_1 {
    margin:0;

}

.box_text_1{
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0px;
    margin-top: 31px;

}


.box_text_2{
   font-family: 'Roboto';
   font-weight: 400;
   font-style: normal;
   font-size: 13px; 
   line-height: 1;
   letter-spacing: 0px;
   text-align: justify;
   word-spacing: 1px;
   overflow: hidden; 
   margin-bottom: 21px;    
    
  
}

.name_company {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 130px;
    gap: 21px;       
}

.up_of_text_of_name_company,
.bottom_of_text_of_name_company {
    margin: 0;
}


.up_of_text_of_name_company{
    font-family: 'Roboto';
    font-weight: 600;
    font-style: normal;
    font-size: 75px;
    line-height: 1;
    letter-spacing: 0;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}
.bottom_of_text_of_name_company{
    font-family: 'Roboto';
    font-weight: 600;
    font-style: normal;
    font-size: 60px;;
    line-height: 1;
    letter-spacing: 0;
    color: rgba(255, 225, 0, 1);    
}

.margin_76px{
    height: 76px;
    width: 100%;
}

.second_block{
    display: flex;
    flex-direction: column;
    height: 802px;
    width: 1200px;
    
}
.up_of_second_block{
    width: 1200px;
    height: 706px;
    position: relative;

}
.image_1{
    position:absolute;
    width: 266px;
    height: 359px;
    top: 135px;
    left: 685px;
    z-index: 1;
    object-fit: cover;

}
.image_2{
    position:absolute;
    width: 174px;
    height: 209px;
    top: 205px;
    left: 971px;
    z-index: 2;
    object-fit: cover;
    
}
.image_3{
    position:absolute;
    width: 278px;
    height: 174px;
    top: 433px;
    left: 780px;
    z-index: 3;
    object-fit: cover;
}
.text1_of_second_block{
    position:absolute;
    width: 154px;
    height: 36px;
    top: 250px;
    left: 130px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 37px;
    line-height: 46.74px;
    letter-spacing: 0;
}
.text2_of_second_block{
    position:absolute;
    width: 435px;
    height: 84px;
    top: 333px;
    left: 130px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    line-height: 27.9px;
    letter-spacing: 0;  
}
.bottom_of_second_block{
   
    width: 1200px;
    height: 96px;
    position:relative
    
}
.left_triangel {
    position: absolute;
    top:0;
    left:0;
    display: inline-block;
	border-bottom: 96px solid rgba(54, 54, 54, 1);
	border-right: 625px solid transparent;
}

.right_triangel{
    position: absolute;
    top:0;
    right:0;
    display: inline-block;
    border-bottom: 96px solid rgba(54, 54, 54, 1);
	border-left: 625px solid transparent;
    margin-right: 0px;
}

.third_block {
   
    width: 1200px;
    height: 855px;
}   

.our_service {
    
    width: 1200px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our_service p{
    
    width: 227px;
    height: 47px;
    color: rgba(23, 23, 23, 1);
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 37px;
    line-height: 46.74px;
    letter-spacing: 0;
    text-align: center;
    
}

.service_ui{
    
    width: 1200px;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap:20px;



}
.box_service{
    
    width: 300px;
    height: 517px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.up_box_service{
   
    width: 300px;
    height: 419px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 30px;
    padding-top: 61px;
    


}
.zagolovok_box_service,
.info_box_service{
    margin: 0;
}
.zagolovok_box_service{
    
    width: 90px;
    height: 27px;
    margin-bottom: 25px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0;

    

}
.line{
    border-top:1px solid rgba(21, 21, 21, 1);
    width: 240px;
    height: 0px;
}
.info_box_service{
    
    width: 233px;
    height: 100px;
    margin-top: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24.8px;
    letter-spacing: 0;
    text-align: left;


}


.bottom_box_service{
    border:3px solid rgba(0, 0, 0, 1);
    background-color: rgb(255, 255, 255);
    width: 178px;
    height: 45px;
    border-radius: 3px;
    border-width: 3px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.box_service:hover .bottom_box_service{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.bottom_box_service:active {
    background-color: rgba(255, 225, 0, 1);
}
.box_service:hover .up_box_service{
  box-shadow: 
  0px 1.21px 2.06px 0px rgba(68, 68, 68, 0.02),
  0px 5.33px 4.26px 0px rgba(68, 68, 68, 0.04),
  0px 13.07px 8.5px 0px rgba(68, 68, 68, 0.05),
  0px 25.18px 16.65px 0px rgba(68, 68, 68, 0.06),
  0px 42.36px 30.62px 0px rgba(68, 68, 68, 0.08),
  0px 65.36px 52.29px 0px rgba(68, 68, 68, 0.10);

} 

.fourth_block{
    
    width: 1200px;
    height: 931px;
    background-color: rgba(238, 238, 238, 1);
    display: flex;
    flex-direction: column;
}

.up_fourth_block{
    height: 306px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.zagolovok_up, .main_up{
    margin: 0;
}
.zagolovok_up{ 
     width: 425px;
     height: 47px;
     font-family: 'Roboto';
     font-weight: 400;
     font-size: 37px;
     line-height: 46.74px;
     letter-spacing: 0;
     text-align: center;
     margin-top: 150px;



}
.main_up{
     width: 471px;
     height: 66px;
     font-family: 'Roboto';
     font-weight: 400;
     font-style: normal;
     font-size: 21px;
     line-height: 33px;
     letter-spacing: 0;
     text-align: center;
     margin-top: 43px;
}

.bottom_fourth_block{
    width: 1200px;
    height: 625px;
   display: flex;
   justify-content: flex-start;

}

.first_column{
    height: fit-content;
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 625px;
    padding-top: 108px;
    padding-bottom: 145px;
    
}

.icon{
    width:35px;
    height:35px;
    object-fit: cover;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:14px;

}
.availability_text,
.availability{
    margin: 0;
}

.zagolovok_items{
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:16px;
}

.availability{
     
     width: 97px;
     height: 22px;
     font-family: 'Roboto';
     font-weight: 400;
     font-style: normal;
     font-size: 15px;
     line-height: 21.6px;
     letter-spacing: 0;
}
.availability_text{
   width: 246px;
   height: 44px;
   font-family: 'Roboto';
   font-weight: 400;
   font-style: normal;
   font-size: 13px;
   line-height: 21.7px;
   letter-spacing: 0;
}

.reliability,
.reliability_text{
    margin: 0;
}
.reliability{
    width: 96px;
     height: 22px;
     font-family: 'Roboto';
     font-weight: 400;
     font-style: normal;
     font-size: 15px;
     line-height: 21.6px;
     letter-spacing: 0;

}
.reliability_text{
   width: 246px;
   height: 87px;
   font-family: 'Roboto';
   font-weight: 400;
   font-style: normal;
   font-size: 13px;
   line-height: 21.7px;
   letter-spacing: 0;

}



.second_column {
  margin-left: 74px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 625px;
  padding: 108px 0 145px;
}

.third_column {
  margin-left: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 625px;
  padding: 108px 0 123px;
}

.flexibility,
.security,
.service,
.technical {
  margin: 0;
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 21.7px;
  letter-spacing: 0;
}

.flexibility_text,
.security_text,
.service_text,
.technical_text {
  margin: 0;
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 21.7px;
  letter-spacing: 0;
 
}
.flexibility_text{
    width: 255px;
    height: 109px;
}
.security_text{
    width: 255px;
    height: 87px;
}

.service_text{
   width: 218px;
   height: 109px;  
}

.technical_text{
   width: 218px;
   height: 109px;
}
.beetwen_blocks{
    width: 1200px;
    height: 377px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 135px;
    padding-bottom: 119px;
}

.title_of_beetwen_blocks{
    width: 250px;
    height: 47px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 37px;
    line-height: 46.74px;
    letter-spacing: 0;
    text-align: center;

}

.text_of_beetwen_blocks{
     width: 508px;
     height: 33px;
     font-family: 'Roboto';
     font-weight: 400;
     font-style: normal;
     font-size: 22px;
     line-height: 33px;
     letter-spacing: 0;
     text-align: center;
}

.fifth_block{
    width: 1200px;
    height: 1018px;
    background-color: rgba(238, 238, 238, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
}
.tariff_table{
    height: fit-content;
}

.tariff_table th,
.tariff_table td{
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18.9px;
  letter-spacing: 0;
  background-color: rgba(255, 255, 255, 1);
  
}
.tariff_table td{
   height: 62px;
}
.tariff_table th {
    height: 98px;
    background-color: rgba(34, 34, 34, 1);
    color: rgba(255, 255, 255, 1);
    padding-top: 20px;
    vertical-align: top; 
}

.table_center_width{
    width: 172px;
    text-align: center;
}
.servis{
    padding-left: 20px;
    text-align: left;
    width: 259px;
}
.non_space{
  border-spacing: 0;
}
.image_none{
    width: 24px;
    height: 24px;
   object-fit: cover;    
}

.beetwen_blocks2{
    width: 1200px;
    height: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:39px;
    padding-top: 99px;
    padding-bottom: 207px;
}

.title_of_beetwen_blocks2,
.text_of_beetwen_blocks2{
    margin: 0;
}

.title_of_beetwen_blocks2{
     width: 266px;
     height: 47px;
     font-family: 'Roboto';
     font-weight: 400;
     font-style: normal;
     font-size: 37px;
     line-height: 46.74px;
     letter-spacing: 0%;
     text-align: center;

}

.text_of_beetwen_blocks2{
     width: 488px;
     height: 33px;
     font-family: 'Roboto';
     font-weight: 400;
     font-style: normal;
     font-size: 21px;
     line-height: 33px;
     letter-spacing: 0;
     text-align: center;
}
.button_dowl{
    border:3px solid rgba(0, 0, 0, 1);
    background-color: rgb(255, 255, 255);
    width: 253px;
    height: 66px;
    border-radius: 3px;
    border-width: 3px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
}
.button_dowl:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.button_dowl:active {
    background-color: rgba(255, 225, 0, 1);
}


.contact_block{
    width:1200px ;
    height:501px;
    display: flex;
} 

.contact_info{
    width: 481px;
    height: 501px;
    background-color: rgba(0, 0, 0, 1);
    padding-left: 22px;
    padding-top: 140px;
}

.contact_text{
    margin:0;
    color: rgba(255, 255, 255, 1);
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    line-height: 31px;
    letter-spacing: 0;

}
.foot_menu{
    width:1200px ;
    height:197px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 77px;
    gap:39px;
    background-color: rgba(23, 23, 23, 1);

}
.foot_menu_main{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    gap: 55px;
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;

}
.menu_foot_btn{
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
    color:rgba(255, 255, 255, 1);

}
.foot_menu p{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
    margin: 0;
    color:rgba(255, 255, 255, 1);
}
.adress_text{
  width: 430px;
  height: 62px; 
}
